@media screen and (min-width: 577px) and (max-width: 768px) {
    .header__top-navigation .nav-link {
        font-size: 13px;
        line-height: 15px;
    }
    .nav-pills-right {
        display: none;
    }
    .nav-pills-else {
        display: block;
    }


    .header__center-worktime{
        flex-direction: column;
    }
    .header__center-contacts{
        flex-direction: column-reverse;
        align-items: flex-end;
    }
    .worktime__time p{
        font-size: 12px;
        line-height: 16px;
    }
    .phone h2{
        font-size: 16px;
        line-height: 19px;
    }
    .whatsapp{
        width: 182px;
        height: 19px;
    }
    .header__center-items{
        justify-content: space-between;
    }
    .header__bot-menu p{
        display: none;
    }
    .user__panel-item{
        flex-direction: column;
        row-gap: 5px;
        text-align: center;
        padding: 0 20px;
    }
    .user__panel{
        margin-left: 0;
        height: 65px;
        align-items: flex-start;
    }
}


@media screen and (max-width: 576px) {
    .header__top-navigation {
        justify-content: flex-start;
    }
    .nav-pills .nav-link img {
        display: none;
    }
    .nav-pills .dropdown {
        display: none;
    }
    .header__top-navigation .nav-link {
        font-size: 12px;
        line-height: 14px;
    }
    .nav-pills-right {
        display: none;
    }
    .nav-pills-else {
        display: block;
    }


    .header__center-worktime{
        display: none;
    }
    .header__center-contacts{
        flex-direction: column-reverse;
        align-items: flex-end;
    }
    .phone h2{
        font-size: 16px;
        line-height: 19px;
    }
    .whatsapp{
        width: 182px;
        height: 19px;
    }
    .header__center-items{
        justify-content: space-between;
    }
    .header__bot-items{
        column-gap: 0;
    }
    .header__bot-menu p{
        display: none;
    }
    .header__bot-menu{
        margin-right: 20px;
    }
    .user__panel-item{
        display: none;
    }
    .user__panel{
        margin-left: 0;
        height: 65px;
        align-items: flex-start;
    }
    .input-group-text p{
        display: none;
    }
    img.input-group-text {
        display: block;
        border: none;
    }

}

@media screen and (max-width: 330px) {
    .header__center-logo img{
        width: 37px;
        height: 40px;
    }
    .header__center-logo-text h1{
        font-size: 14px;
        line-height: 16px;
    }
    .header__center-logo-text {
        font-size: 7px;
        line-height: 8px;
    }
    .phone h2{
        margin-bottom: 0;
    }
}