.header__top {
    background-color: #0F2438;
}
.header__top-navigation{
    display: flex;
    justify-content: space-between;
}
.header__top-navigation .nav-link{
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
}
.nav-pills-else{
    display: none;
}
.header__bot{
    background: #FFFFFF;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    padding: 2% 0;
}
.header__center-items{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}
.header__center-logo{
    align-items: center;
    display: flex;
}
.header__center-logo-text h1{
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #0F2438;
    margin-bottom: 0;
}
.header__center-logo-text{
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #0F2438;
}
.header__center-worktime{
    display: flex;
    column-gap: 80px;
}
.header__center-contacts{
    display: flex;
    column-gap: 70px;
    align-items: center;
}
.worktime__time p{
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-align: right;
    color: #0F2438;
    margin-top: 14px;
}
.worktime__time img{
    margin-right: 10px;
}
.worktime__time{
    display: flex;
    align-items: center;
}
.worktime__adress p{
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #0F2438;
    margin-left: 10px;
    margin-top: 14px;
}
.worktime__adress{
    display: flex;
    align-items: center;
}
.whatsapp p{
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    text-align: right;
    color: #000000;
    margin-bottom: 0;
    margin-left: 6px;
}
.whatsapp{
    background: #E1EFD0;
    border-radius: 2px;
    width: 204px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.phone h2{
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #0F2438;
}
.phone p{
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    text-decoration-line: underline;
    color: #0F2438;
    text-align: right;
}
.header__bot-menu{
    background-color: #005BB9;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.3% 2.5%;
    max-height: 53px;
}
.header__bot-menu p{
    margin-left: 12px;
    margin-bottom: 0;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
}
.header__bot-items{
    display: flex;
    column-gap: 20px;
}
.input-group{
    max-height: 53px;
}
.header__bot-items .input-group .input-group-text{
    background: #005BB9;
    border-radius: 0 6px 6px 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
}
.input-group-text p{
    padding-top: 10px;
}
.header__bot-items .input-group .form-control{
    background: #F4F5FA;
    border-radius: 6px 0 0 6px;
}
.user__panel{
    display: flex;
    align-items: center;
    margin-left: 80px;
}
.user__panel-item{
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #0F2438;
    display: flex;
    column-gap: 16px;
    align-items: center;
    padding: 0 30px;
}
.center__item{
    border-right: 1px solid #E1E5F8;
    border-left: 1px solid #E1E5F8;
}
.small__item{
    font-size: 12px;
    width: 142px;
    padding-right: 0;
}
img.input-group-text{
    display: none;
}